<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiplication</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <div>
            <div id="parametres" v-show="showThat">
                <label for="1">Nombre de chiffres du premier nombre :</label>
                <input type="number" v-model="n_char1" />
                <br />
                <label for="1">Nombre de chiffres du second nombre :</label>
                <input type="number" v-model="n_char2" />
                <p id="erreur" style="color:red;"> {{ erreur }}</p>
                <br />
                <button @click="startGame">Commencer</button>
            </div>
            <br />
            <div id="jeu" v-if="showGame">
                <label for="1">Entrer la bonne reponse dans la case vide:</label>
                <input type="text" :value="number1" disabled />
                X
                <input type="text" :value="number2" disabled />
                =
                <input type="number" v-model="userAnswer" />
                <br />
                <button @click="validateAnswer" v-if="showbou">Valider</button>
                <button @click="change" v-if="!showbou">Ressayer</button>
                <div id="reponse">{{ response }}</div>
            </div>
        </div>
    </div>

    <script>
        let a = 0;
        const app = Vue.createApp({
            data() {
                return {
                    n_char1: null,
                    n_char2: null,
                    number1: null,
                    number2: null,
                    userAnswer: null,
                    response: null,
                    erreur: null,
                    showGame: false,
                    showThat: true,
                    showbou: true,
                };
            },
            methods: {
            	change(){
            		this.showThat = true;
            		this.showGame = false;
                    	this.n_char2 = null;
                    	this.n_char1 = null;
                    	this.number1 = null;
                    	this.number2 = null;
                    	this.userAnswer = null;
                    	this.response = null;
                    	this.erreur = null;
                    	this.showbou = true;
            	},
                startGame() {
                    if (this.n_char1 > 1 && this.n_char2 > 1) {
                        this.number1 = this.generateRandomNumber(this.n_char1);
                        this.number2 = this.generateRandomNumber(this.n_char2);
                        this.showGame = true;
                        this.showThat = false;
                        this.erreur = null;
                    } else {
                        this.erreur = "Le nombre de chiffres doit être supérieur à 1";
                    }
                },
                validateAnswer() {
                    if( a < 2){
                     if (this.userAnswer == this.number1 * this.number2) {
                        this.response = "Bravo, bonne réponse !";
                     } else {
                    	a++;
                        this.response = `Faux, tu as encore : ${3 - a} tentatives`;
                     }
                   } else {
                   	this.showbou = false;
                   	this.response = ` Tu as grille toutes tes tentatives et la bonne reponse est : ${ this.number1 * this.number2}`;
                   }
                },
                generateRandomNumber(n) {
                    let start = 10 ** (n - 1);
                    let end = 10 ** n - 1;
                    return Math.floor(Math.random() * (end - start + 1)) + start;
                },
            },
        });

        app.mount('#app');
    </script>
</body>

</html>
